editor: your editor path. Example: /usr/bin/vim
ztldir: your zettel directory - it must exist! Example: /home/<user>/zettel
notetemplate: if you have a note template you would like to use. Example: /home/<user>/zettel_tmpl.txt
gitrepo: a link to a remote git repository. Example: git@gitlab.com:<user>/zettel.git
gituser: your username in that remote git repositories server. 
repotoken: the access token you generated in that server to grant you programmatic access. Ensure it provides at least read and write access to repositories.
